/* reset basic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background full screen */
body {
  font-family: Arial, sans-serif;
  background-color: #7ec0cf; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* card login */
.login-container {
  background-color: #b7c9a8; 
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

/* title */
.login-container h2 {
  color: red;
  margin-bottom: 10px;
}

/* input */
.login-container input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
}

/* button */
.login-container button {
  background-color: #f4a261; 
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.login-container button:hover {
  opacity: 0.8;
}

.login-container p {
  font-size: 12px;
  margin-top: 10px;
}