/* background */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #7ec0cf;
}

/* wrapper center */
.signup-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* card */
.signup-container {
  background-color: #a8c0a0;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* title */
.signup-container h2 {
  color: #3b3be0;
  margin-bottom: 5px;
}

.signup-container p.title {
  font-size: 12px;
  color: #d9534f;
  margin-bottom: 15px;
}

/* label */
.signup-container label {
  display: block;
  text-align: left;
  font-size: 11px;
  margin-top: 10px;
}

/* input */
.signup-container input {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  background-color: #e5e5e5;
  font-size: 12px;
  outline: none;
}

.signup-container input::placeholder {
  color: #777;
  text-transform: uppercase;
  font-size: 11px;
}

.signup-container input:focus {
  background-color: #ffffff;
}

/* button */
.signup-container button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #f4a261;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.signup-container button:hover {
  opacity: 0.85;
}

/* link bawah */
.signup-container .bottom-text {
  font-size: 12px;
  margin-top: 15px;
}

.signup-container a {
  color: blue;
  text-decoration: none;
}