/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background */
body {
  font-family: Arial, sans-serif;
  background-color: #7ec0cf;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container (dipakai login & signup) */
.auth-container {
  background-color: #b7c9a8;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
}

/* title */
.auth-container h2 {
  color: red;
  margin-bottom: 10px;
}


.auth-container input {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;        
  background-color: #e5e5e5; 
  font-size: 12px;
  outline: none;
}

/* placeholder */
.auth-container input::placeholder {
  color: #777;
  text-transform: uppercase;
  font-size: 11px;
}

/* focus */
.auth-container input:focus {
  background-color: #dcdcdc;
}

/* button */
.auth-container button {
  background-color: #f4a261;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.auth-container button:hover {
  opacity: 0.8;
}

/* text bawah */
.auth-container p {
  font-size: 12px;
  margin-top: 10px;
}